[submodule "attachment"]
	path = attachment
	url = https://github.com/maiska/qubes-attachment.rtd
[submodule "_posts"]
	path = _posts
	url = https://github.com/maiska/qubes-posts.rtd
[submodule "_doc"]
	path = _doc
	url = https://github.com/maiska/qubes-doc.rtd
[submodule "_hcl"]
	path = _hcl
	url = https://github.com/maiska/qubes-hcl.rtd
[submodule "_translated"]
	path = _translated
	url = https://github.com/maiska/qubes-translated.rtd.git
	branch = convert-rst
