[submodule "attachment"]
	path = attachment
	url = https://github.com/maiska/qubes-attachment.rtd.git
[submodule "_posts"]
	path = _posts
	url = https://github.com/maiska/qubes-posts.rtd.git
[submodule "_doc"]
	path = _doc
	url = https://github.com/maiska/qubes-doc.rtd.git
[submodule "_hcl"]
	path = _hcl
	url = https://github.com/maiska/qubes-hcl.rtd.git
